<% if @contact.errors.any? %>
<div id="error_explanation">
  <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @contact.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_with(model: @contact, local: true) do |form| %>
<div class="contact_name">
  <p><%= form.label :name %></p>
  <%= form.text_field :name %>
</div>
<div class="contact_email">
  <p><%= form.label :email %></p>
  <%= form.text_field :email %>
</div>
<div class="contact_content">
  <p><%= form.label :content %></p>
  <%= form.text_field :content %>
</div>
<%= form.submit %>
<% end %>
